@import "tailwindcss";

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}
.gradient-container {
  filter: url(#goo) blur(40px);
}

.gradient-bg .g1,
.gradient-bg .g3,
.gradient-bg .g4,
.gradient-bg .g5,
.gradient-bg .g6,
.gradient-bg .interactive {
  background: radial-gradient(circle at center, rgba(1, 66, 96, 0.8) 0, rgba(0, 130, 190, 0) 40%)
    no-repeat;
}
.gradient-bg .g1 {
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: center center;
  animation: moveVertical 30s ease infinite;
}
.gradient-bg .g2 {
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;
}
.gradient-bg .g3 {
  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 500px);
  transform-origin: calc(50% + 400px);
  animation: moveInCircle 40s linear infinite;
}
.gradient-bg .g4 {
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;
}
.gradient-bg .g5 {
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;
}

::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #00111a;
}

::-webkit-scrollbar-thumb {
  background-color: #00aeff;
  border-radius: 5px;
}

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    --circle-size: 80%;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    font-weight: 500;
    text-decoration: none;
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-height: 100dvh;
    width: 100dvw;
    overflow-x: hidden;
    background-color: #00111a;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #00aeff;
  }

  button:hover {
    color: #4dc6ff;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  .backgroundShadow {
    box-shadow: inset 0 -50px 35px #00111a;
  }

  .text-shadow {
    text-shadow: 0 0 10px;
  }
}
